@charset "UTF-8";

a:link {
	text-decoration: none;
	color: #000000;
	}
a:visited {color: #000000;}
a:hover {font-weight: bold;}
a:active {font-weight: bold; color: #555555;}

ol {margin: 0px;}	
#contents {
	text-indent: 10px; 
	margin: 10px; 
	line-height: 30px; 
	font-weight: bold;
	font-size: 20px;
	}
img {
	display: block;
	margin: 0 auto;
}
th {text-align: center;}

.right {text-align: right;}
.center {text-align: center;}
.left {text-align: left;}