@charset "UTF-8";

a:link {
	text-decoration: none;
	color: #000000;
	}
a:visited {color: #000000;}
a:hover {font-weight: bold;}
a:active {font-weight: bold; color: #555555;}

#contents {
	text-indent: 10px; 
	margin: 10px; 
	line-height: 30px; 
	font-weight: bold;
	font-size: 20px;
	}